.block {
 background-color: #7cb184;
 padding: 60px 0;
}

.container {
 max-width: 1320px;
 margin: 0 auto;
 display: flex;
 align-items: center;
 justify-content: space-between;
}

.title {
 font-family: "Urbanist", sans-serif;
 font-size: 50px;
 font-weight: 300;
 margin-bottom: 24px;
}

.untitle {
 font-size: 24px;
 font-weight: 500;
 line-height: 117%;
}

.inner {
 max-width: 533px;
 margin-top: 24px;
}

.content {
 font-size: 16px;
 font-weight: 400;
 margin-top: 24px;
 letter-spacing: -0.02em;
}

.checkbtn {
 margin-top: 40px;
 padding: 12px 74px;
 font-size: 16px;
 background-color: var(--accent-color);
 border: none;
 width: 312px;
 height: 48px;
 border-radius: 32px;
 font-weight: 400;
 /* margin-top: 56px; */
 display: flex;
 justify-content: center;
 align-items: center;
 a {
  color: #ffff;
 }
}

.checkbtn:hover {
 background-color: var(--accent-color-hover);
}

/* .container {
  display: flex;
  justify-content: space-between;
  max-width: 1320px;
  margin: 0 auto;
} */

.description {
 width: 533px;
}

.left {
 width: 648px;
 height: 400px;
}

.imageContainer {
 display: flex;
 align-items: center;
 justify-content: center;

 img {
  height: 400px;
  width: 648px;
  background-position: cover;
 }
}

.btnConteiner {
 display: flex;
 align-items: end;
 justify-items: end;
}

@media (max-width: 768px) {
 .container {
  flex-wrap: wrap;
 }
}
