.control {
 display: flex;
 align-items: center;
 justify-content: center;
 background: #def2d6;
 border-radius: 99px;
 padding: 8px;
 gap: 10px;
}

.btn {
 background: #fff;
 border-radius: 50%;
 width: 34px;
 height: 34px;
 font-weight: bold;
 display: flex;
 align-items: center;
 justify-content: center;
}

.quantity {
 font-size: 16px;
 line-height: 150%;
 text-align: center;
 color: #1a1a1a;
}

.disabled {
 opacity: 0.5;
 cursor: not-allowed;
}
