.container {
  width: 40vw;
  border-radius: 12px;
 background-color: #FEFEFE;

}

.header {
  font-size: 32px;
  padding: 20px;
  background-color: #2D6B41;
  color: #FEFEFE;
  text-align: center;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.mainContainer {
  padding: 2rem 90px 35px;
  color: #0A1207;
}

.resultsContainer {
  margin-bottom: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.resultLabel {
  font-size: 32px;
}

.resultNumber {
  font-size: 64px;
  font-weight: 700;
}
.barLabel{
  width: 77px;
  height: 19px;
  border-radius: 4px;
  transform: translateX(-50%);
  color: #fff;
  padding: 2px 8px;
  font-size: 12px;
  font-weight: bold;
}
.scaleIndexBMIContainer {
  display: flex;
  flex-direction: column;
}

.scaleIndexLabels {
  width: 272px;
  display: flex;
  justify-content: space-around;
  font-size: 14px;
}
.scaleIndexLabelsUnderWeight{
  background-color: #299C4E;
}
.bmiBar{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap:1px
}
.underWeightBar{
  height: 40px;
  width: 6px;
  background-color: #299C4E;
  border-radius: 4px;
}
.healthyBar{
  height: 40px;
  width: 6px;
  background-color: #EE9229;
  border-radius: 4px;
}
.overWeightBar{
  height: 40px;
  width: 6px;
  background-color: #DD0000;
  border-radius: 4px;
}



.divider {
  background-color: #ACACAC;
  width: 100%;
  height: 1px;
}

.legendContainer {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.underweightLabel {
  padding: 0.7rem 0;
  color: #000000;
  background-color: #F9F1EB;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
}

.healthyLabel {
  padding: 0.7rem 0;
  color: #000000;
  background-color: #F9F1EB;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
}

.overweightLabel {
  padding: 0.7rem 0;
  color: #000000;
  background-color: #F9F1EB;
  font-size: 24px;
  text-align: center;
  border-radius: 8px;
}

.footer {
  padding: 0 3rem 2rem;
  color: #525252;
}