.section {
  background-color: #FFFAF0;
  padding: 60px 0;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.nav {
  margin-bottom: 32px;
}

.btn {
  margin-top: 80px;
  background-color: #234D2E;
  color: #FFFAF0;
  transition: background-color 0.2s ease, color 0.2s ease;

  &:hover {
    background-color: var(--accent-color-hover); 
    color: #ffffff;
    cursor: pointer;
  }
}

.btnContainer {
  display: flex;
  justify-content: flex-end;
}

.inner {
  display: flex;
  justify-content: space-between;
}

.headTitle {
  font-family: var(--third-family);
  font-weight: 300;
  font-size: 50px;
  color: #000;
}

.content {
  font-weight: 400;
  margin-bottom: 24px;
  letter-spacing: -0.02em;
}
