.topWrapper {
 background: var(--white);
 margin-top: 20px;
 margin-bottom: 32px;
 width: 100%;
}

.container {
 max-width: 1440px;
 /* padding: 0 60px; */
 margin: 0 auto;
 padding: 60px 0;
}

.top {
 display: flex;
 justify-content: space-between;
 align-items: center;
 padding: 20px 60;
 background-color: #ee9229;
 height: 100px;
 margin-bottom: 36px;
}

.topRight {
 display: flex;
 gap: 60px;
}

.title {
 font-family: var(--third-family);
 font-weight: 300;
 font-size: 50px;
 color: #fefefe;
 display: flex;
 align-items: center;
 justify-self: left;
 width: 1320px;
 margin: 0 auto;
}

.topLink {
 font-family: var(--second-family);
 font-weight: 400;
 font-size: 14px;
 color: #303030;
 border: 1px solid #d6d6d6;
 border-radius: 12px;
 padding: 12px 24px;
}

.catalogContent {
 display: flex;
 justify-content: center;
}

.mainContent {
 max-width: 1096px;
 flex: 1;
 display: flex;
 flex-direction: column;
}

.innerCards {
 width: 1096px;
 /* margin: 0 auto; */
 padding: 32px 0 32px 40px;
 display: flex;
 flex-wrap: wrap;
 row-gap: 56px;
 column-gap: 82px;
 justify-content: flex-start;
}
