.desktopOnly {
 display: block;
}

.mobileOnly {
 display: none;
}

@media (max-width: 1024px) {
 .desktopOnly {
  display: none;
 }
 .mobileOnly {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding: 24px;
  box-sizing: border-box;
 }
}

@media print {
 .desktopOnly {
  display: block !important;
 }
 .mobileOnly {
  display: none !important;
 }
}
/* @media (max-width: 1440px) {
 .layoutContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
 }

 .main {
  flex: 1;
 }
} */
