.container {
  max-width: 1320px;
  margin: 0 auto;
  position: relative;
}

.header {
  background-color: var(--accent-color);
  padding: 8px 0;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
}

.brandName {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.nav {
  display: flex;
  gap: 32px;
  /* margin-right: 48px; */
}

.link {
  text-decoration: none;
  font-weight: 400;
  color: var(--background);
  font-size: 16px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  transition: all 0.4s ease;
}
.burger{
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 22px;
  height: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
}
.burger span{
  display: block;
  background-color:white;
  height: 2px;
  width: 100%;
  background: transparent;
  transition: 0.3s;
}

.link:hover {
  color: #007bff;
}

.searchAndIcons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.searchBox {
  display: flex;
  align-items: center;
  position: relative;
}

.searchInput {
  font-family: 'Quicksand', sans-serif;
  width: 425px;
  border-radius: 12px;
  background: #f5f5f5;
  max-height: 32px;
  padding: 7px 12px 7px 20px;
  font-size: 16px;
}

.searchInput::placeholder {
  opacity: 0.5;
  font-size: 16px;
  letter-spacing: -0.02em;
  color: #000;
}

.searchButton {
  cursor: pointer;
  position: absolute;
  right: 16px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 32px;
}

.iconButton {
  cursor: pointer;
}

.visuallyHidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  white-space: nowrap;
  border: 0;
}

@media(max-width:768px) {
  .nav{
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    flex-direction: column;
    align-items: center;
    background-color: var(--accent-color);
    gap: 20px;
    padding: 20px 0;

  }
  .hideMenu{
    transform: translateY((-150%));
    opacity: 0;
    pointer-events: none;
  }
  .showMenu{
    transform: translateY(0);
    opacity: 1;
    pointer-events: auto;
  }
  .burger{
    display: flex;
  }

}