.wrapper {
 max-width: 1320px;
 margin: 0 auto;
 padding: 20px;
 position: relative;
}

.card {
 border-radius: 20px;
 width: 162px;
 height: 160px;
 background-size: cover;
 background-position: center;
 border-radius: 20px;
 overflow: hidden;
 display: flex;
 align-items: flex-end;
 justify-content: center;
}

.overlay {
 background: #ed9625cc;
 width: 100%;
 height: 25%;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 padding-bottom: 16px;
}

.label {
 letter-spacing: -0.02em;
 font-family: var(--font-family);
 color: #f9f1eb;
}
.sliderContainer {
 position: relative;
}

.custom-prev,
.custom-next {
 position: absolute;
 top: 50%;
 transform: translateY(-50%);
 z-index: 5;
 cursor: pointer;
}

.custom-prev {
 left: -30px;
}

.custom-next {
 right: -30px;
}
